<div class="col-xs-12 col-md-12" ng-controller="ChangePasswordCtrl">
    <section class="right-content">
        <div class="row top-row-strip">
            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li>User Manager</li>
                    <li class="active">Change Password</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="modal-dialog" role="document">
                    <form class="filter" id="Form_ChangePassword" name="Form_ChangePassword">
                        <div class="row" ng-class="{ 'has-error' : Form_ChangePassword.txtusername.$invalid && !Form_ChangePassword.txtusername.$pristine }">
                            <div class="col-md-offset-1 col-md-5 form-group control-label ">
                                <label>Login UserName</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <label> {{Username}}</label>
                            </div>
                        </div>

                        <div class="row" ng-class="{ 'has-error' : Form_ChangePassword.txtexistingpwd.$invalid && !Form_ChangePassword.txtexistingpwd.$pristine }">
                            <div class="col-md-offset-1 col-md-5 form-group control-label">
                                <label>Exisiting Password</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="password" name="txtexistingpwd" ng-model="txtexistingpwd" class="form-control" ng-focus="Epwd.focus=true" ng-blur="Epwd.focus=false" required>
                                <div ng-show="Form_ChangePassword.txtexistingpwd.$invalid && !Form_ChangePassword.txtexistingpwd.$pristine && Epwd.focus" class="validation_info">
                                    <ul class="ulvalid">
                                        <li class="invalid" ng-show="Form_ChangePassword.txtexistingpwd.$invalid">Password is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-class="{ 'has-error' : Form_ChangePassword.txtnewpassword.$invalid && !Form_ChangePassword.txtnewpassword.$pristine }">
                            <div class="col-md-offset-1 col-md-5 form-group control-label">
                                <label>New Password</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="password" name="txtnewpassword" ng-model="txtnewpassword" class="form-control" pattern="^(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).{6,20}$" ng-required="true" ng-focus="NPwd.focus=true" ng-blur="NPwd.focus=false" ng-change="checkConfirmPwd()">
                                <div ng-show="Form_ChangePassword.txtnewpassword.$invalid && !Form_ChangePassword.txtnewpassword.$pristine && NPwd.focus" class="validation_info">
                                    <ul class="ulvalid">
                                        <li class="invalid" ng-show="Form_ChangePassword.txtnewpassword.$invalid">New Password contains between 6 and 12 characters, and contains at least one number.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-class="{ 'has-error' : Form_ChangePassword.txtcnfpassword.$invalid && !Form_ChangePassword.txtcnfpassword.$pristine }">
                            <div class="col-md-offset-1 col-md-5 form-group control-label">
                                <label>Confirm New Password</label>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="password" name="txtcnfpassword" ng-model="txtcnfpassword" class="form-control" pattern="^(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).{6,20}$" ng-required="true" ng-focus="CNPwd.focus=true" ng-blur="CNPwd.focus=false" ng-change="checkConfirmPwd()" />
                                <div ng-show="(Form_ChangePassword.txtcnfpassword.$invalid||ConfirmPassword) && !Form_ChangePassword.txtcnfpassword.$pristine && CNPwd.focus" class="validation_info">
                                    <ul class="ulvalid">
                                        <li class="invalid" ng-show="Form_ChangePassword.txtcnfpassword.$invalid">Confirm Password contains between 6 and 12 characters, and contains at least one number.</li>
                                        <li class="invalid" ng-show="ConfirmPassword">Confirm Password don't match..</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-6 col-md-6">
                                <button type="submit" id="btnSubmit" ng-click="ChangePassword()" ng-disabled="Form_ChangePassword.$invalid || ConfirmPassword" class="btn btn-primary btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>