
<section class="right-content" ng-controller="Get_Site_ProgressRptCtrl">
    <div class="row top-row-strip">
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>Reports</li>
                <li class="active">{{Header}}</li>
            </ol>
        </div>
    </div>
    <div class="modal fade" id="DisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width:530px;height:600px" role="document">
            <form name="MenuForm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <embed src="{{ImagePath}}" />
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
        <div class="row form-group">
            <div class="col-md-8" ng-class="{ 'has-error' : MenuForm.txtFromdate.$invalid && !MenuForm.txtFromdate.$pristine && MenuForm.txtTodate.$invalid && !MenuForm.txtTodate.$pristine }">
                <div class="col-md-1"><div class="radio"><label class="control-label">From </label></div></div>
                <div class="col-md-4">
                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="txtFromdate" is-open="fromdatests.opened" ng-click="fromtoRequired && openfromdatests($event)"
                           min-date="minDate" max-date="frommaxDate" datepicker-options="dateOptions" placeholder="Select Fromdate"
                           show-button-bar="false" show-weeks="false" formatyear="yyyy" ng-readonly="true" />
                    <span class="input-calendar" ng-click="fromtoRequired && openfromdatests($event)"></span>

                </div>
                <div class="col-md-1"><div class="radio"><label class="control-label">To </label></div></div>
                <div class="col-md-4">
                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="txtTodate" is-open="todatests.opened" ng-click="fromtoRequired && opentodatests($event)"
                           min-date="minDate1" max-date="maxDate" datepicker-options="dateOptions" placeholder="Select Todate"
                           show-button-bar="false" show-weeks="false" formatyear="yyyy" ng-readonly="true" />
                    <span class="input-calendar" ng-click="fromtoRequired && opentodatests($event)"></span>
                </div>
                <div class="col-md-2">
                    <button type="button" id="btnsubmit" ng-click="reqReport()" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-8">
                    <label>Items per page:</label>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" value="10" min="10" step="10" ng-pattern="/^(0|[1-9][0-9]*)$/" ng-model="ItemsperPage">
                </div>
            </div>
        </div>
        <div class="modal fade" ng-show="Model" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">
                        Are you Sure..You want to delete this record?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success theam-button btn-xs" ng-click="SDeleteConf();">Yes</button>
                        <button type="button" class="btn btn-success theam-button btn-xs" ng-click="Cancel();">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-striped ">
                    <tr>
                        <th ng-click="sortKey ='$id*1'; reverse=!reverse" ng-init="sortKey = '$id*1';reverse = false">
                            S.No
                            <span class="glyphicon sort-icon" ng-class="{'glyphicon-sort':sortKey != '$id*1','glyphicon-sort-by-order-alt':sortKey == '$id*1' && reverse,'glyphicon-sort-by-order':sortKey == '$id*1' && !reverse}"></span>
                        </th>
                        <th ng-click="reverse=!reverse ; sortKey='Dated'">
                            Dated
                            <span class="glyphicon sort-icon" ng-class="{'glyphicon-sort':sortKey != 'Dated','glyphicon-sort-by-alphabet-alt':sortKey == 'Dated' && reverse,'glyphicon-sort-by-alphabet':sortKey == 'Dated' && !reverse}"></span>
                        </th>
                        <th ng-click="reverse=!reverse ; sortKey='SiteName'">
                            SiteName
                            <span class="glyphicon sort-icon" ng-class="{'glyphicon-sort':sortKey != 'SiteName','glyphicon-sort-by-alphabet-alt':sortKey == 'SiteName' && reverse,'glyphicon-sort-by-alphabet':sortKey == 'SiteName' && !reverse}"></span>
                        </th>

                        <th ng-click="reverse=!reverse ; sortKey='Perm_Labours' ">
                            Permanent 
                            <span class="glyphicon sort-icon" ng-class="{'glyphicon-sort':sortKey != 'Perm_Labours','glyphicon-sort-by-alphabet-alt':sortKey == 'Perm_Labours' && reverse,'glyphicon-sort-by-alphabet':sortKey == 'Perm_Labours' && !reverse}"></span>
                        </th>


                        <th ng-click="reverse=!reverse ; sortKey='Cont_Labours' ">
                            Contract 
                            <span class="glyphicon sort-icon" ng-class="{'glyphicon-sort':sortKey != 'Cont_Labours','glyphicon-sort-by-alphabet-alt':sortKey == 'Cont_Labours' && reverse,'glyphicon-sort-by-alphabet':sortKey == 'Cont_Labours' && !reverse}"></span>
                        </th>
                        <th ng-click="reverse=!reverse ; sortKey='Daily_Labours' ">
                            Daily 
                            <span class="glyphicon sort-icon" ng-class="{'glyphicon-sort':sortKey != 'Daily_Labours','glyphicon-sort-by-alphabet-alt':sortKey == 'Daily_Labours' && reverse,'glyphicon-sort-by-alphabet':sortKey == 'Daily_Labours' && !reverse}"></span>
                        </th>
                        <th ng-click="reverse=!reverse ; sortKey='Comments' ">
                            Comments
                            <span class="glyphicon sort-icon" ng-class="{'glyphicon-sort':sortKey != 'Comments','glyphicon-sort-by-order-alt':sortKey == 'Comments' && reverse,'glyphicon-sort-by-order':sortKey == 'Comments' && !reverse}"></span>
                        </th>
                        <th ng-click="reverse=!reverse ; sortKey='CreatedByName' ">
                            Created By
                            <span class="glyphicon sort-icon" ng-class="{'glyphicon-sort':sortKey != 'CreatedByName','glyphicon-sort-by-order-alt':sortKey == 'CreatedByName' && reverse,'glyphicon-sort-by-order':sortKey == 'CreatedByName' && !reverse}"></span>
                        </th>
                        <th ng-show="{{IsAdmin}} == 1">Edit</th>
                        <th ng-show="{{IsAdmin}} == 1">Delete</th>
                    </tr>
                    <tr>
                        <th>
                            <a ng-click="search=''" class="pointer-sort">
                                <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
                            </a>
                        </th>
                        <th>
                            <input type="text" ng-model="search.Dated" placeholder="Search.." />
                        </th>
                        <th>
                            <input type="text" ng-model="search.SiteName" placeholder="Search.." />
                        </th>

                        <th>
                            <input type="text" class="search-txt" ng-model="search.Perm_Labours" placeholder="Search.." />
                        </th>


                        <th>
                            <input type="text" ng-model="search.Cont_Labours" placeholder="Search.." />
                        </th>
                        <th>
                            <input type="text" ng-model="search.Daily_Labours" placeholder="Search.." />
                        </th>
                        <th>
                            <input type="text" ng-model="search.Comments" placeholder="Search.." />
                        </th>
                        <th>
                            <input type="text" ng-model="search.CreatedByName" placeholder="Search.." />
                        </th>
                        <th ng-show="{{IsAdmin}} == 1">
                        </th>
                        <th ng-show="{{IsAdmin}} == 1">
                        </th>
                    </tr>
                    <tr dir-paginate="Rpt in ReportList | filter:search | orderBy:sortKey:reverse | itemsPerPage:ItemsperPage">
                        <td class="label-center">{{Rpt.$id}}</td>
                        <td class="label-center"><a ng-click="ViewFile(Rpt.FileName)">{{Rpt.Dated}}</a></td>
                        <td class="label-left">{{Rpt.SiteName}}</td>
                        <td class="label-center">{{Rpt.Perm_Labours}}</td>
                        <td class="label-center">{{Rpt.Cont_Labours}} </td>
                        <td class="label-center">{{Rpt.Daily_Labours}}</td>
                        <td class="label-left">{{Rpt.Comments}}</td>
                        <td class="label-left">{{Rpt.CreatedByName}}</td>
                        <td ng-show="{{IsAdmin}} == 1" class="label-center">
                            <a ng-click="Edit(Rpt.ID)" ng-show="Rpt.Flag !='Deleted'"><i class="fa fa-edit fa-1x"></i></a>
                        </td>
                        <td ng-show="{{IsAdmin}} == 1" class="label-center">
                            <a ng-click="Delete(Rpt.ID)" ng-show="obj.IsActive !='Deleted' " data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o fa-1x"></i></a>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <dir-pagination-controls max-size="15" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">
                <a><img ng-click="exportToExcel()" src="../Images/excel.png" /></a>
            </div>
        </div>
    
</section>

