
<section class="right-content" ng-controller="ResetPasswordCtrl">
    <div class="row top-row-strip">
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li>Profile Tools</li>
                <li class="active">Reset Password</li>
            </ol>
        </div>

        <div class="col-md-2">
            <a class="btn btn-healux btn-xs pull-right filter" data-toggle="modal" data-target="#myModal">Filter</a>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <form name="IdForm" ng-submit="CheckUserID()" novalidate>
                        <div class="modal-content">
                            <div class="modal-header control-label">
                                <button type="button" class="close" ng-click="popupclose()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row control-label" ng-class="{ 'has-error' : IdForm.txtidno.$invalid && !IdForm.txtidno.$pristine }">
                                    <div class="col-md-offset-2  col-md-3">
                                        <span class="control-label">
                                            Username
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <select ng-model="txtidno" name="txtidno" class="form-control" ng-required="true"
                                                ng-options="a.Text as a.Text for a in Users">
                                            <option value="" style="display:none">Select User</option>
                                        </select>
                                        <span ng-show="IdForm.txtidno.$invalid && !IdForm.txtidno.$pristine" class="validation_info">
                                            <ul class="ulvalid">
                                                <li class="invalid" ng-show="IdForm.txtidno.$invalid">Username is required.</li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="btncheckuserid" class="btn btn-primary btn-sm" ng-disabled="IdForm.$invalid">SUBMIT</button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="popupclose()">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="regid>0">
        <div class="col-md-offset-2 col-md-7">
            <div class="modal-body">
                <form >
                    <div class="row">
                        
                        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-4">
                            <label>
                                Username :
                            </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-6 col-sm-8">
                            <span>{{txtusername}}</span>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-4">
                            <label>
                                Name :
                            </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-6 col-sm-8">
                            <span>{{txtname}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-4">
                            <label>
                                Designation :
                            </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-6 col-sm-8">
                            <span>{{Designation}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-4">
                            <label>
                                Mobile :
                            </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-6 col-sm-8">
                            <span>{{txtmobile}}</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-primary btn-sm" id="btnresetlpwd" ng-click="ChangePassword('ResetUserLogin')">Reset Login Password</button>
                <img ng-show="loader" src="../Images/loading.gif" class="loading" />
            </div>
        </div>
    </div>

</section>
